.addItem-form input:not([type=submit]) {
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 8px;
    padding-left: 10px;
    font-size: 18px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 15px;
}
.addItem-form {
    border: 1px solid gray;
    padding-top: 10px;
    border-radius: 15px;
}